@charset "UTF-8";
#main {
	    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#main #contents {
    min-height: 500px; 
    background-color:#DECAFA;
}

#main{
    min-height: 500px; 
    background-color: #DECAFA;
}

#footer {
    background-color: #F79ECF;
}


@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;    
    }

    #main #contents {  
        margin-bottom: 10px; 
        margin-right: 0px;
    }
    #main {
        min-height: 0;
    }

}