
  table.signup {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;
    width: auto;
  }
  table.signup thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #e7708d;
  }
  table.signup thead tr {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align : middle;
    color: #fff;
  }
  table.signup tbody tr {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align : middle;
    border-bottom: 1px solid #ccc;
    background: #fcf1f4;
  }
  table.signup td {

    padding: 10px;
    vertical-align : middle;
    border-bottom: 1px solid #ccc;
  }
  .spen {
    vertical-align : middle;
    font-size: 50%;
  }
  .logo {
 	  padding-left: 10px;
  }
  .sand_back {
  	padding-left: 10px;
  }
  .checkbox1 {
    vertical-align : middle;
  }

  .modal{
    display:none;
    position:fixed;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
  }

	.modal_content{
    text-align:center;
    position:fixed;
    top:50%; left:50%;
    border-radius:10px;
    transform: translate(-50%,-50%);
    max-width: auto;
    min-height: auto;
    background:#fff;
    padding: 10px;
	}
  .thead{
    font-size: auto;
    width: 25%;
  }
  .content{
  	margin: 0 auto;
  	width:50%;
  }
  #str_email01, #str_email02, #selectEmail{
    width: 20%;
  }
   #str_phone02, #str_phone03 {
    width: 10%;
  }
