<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.love_data.dao.UserDAO"><!--namespace를 통해 UserDAO와 연결합니다. -->

    <select id="selectUsers" parameterType="com.project.love_data.dto.UserDTO"
            resultType="com.project.love_data.dto.UserDTO"><!-- selectUsers()메서드를 호출하면 실행할 SELECT문이며,
						UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.-->
        SELECT `seq`, `name`, `country`
        FROM test
        <if test='country != null and country != ""'><!-- 만약 파라미터에 country가 있다면 SQL문에 WHERE절을 추가합니다. -->
            WHERE country = #{country}
        </if>
    </select>

</mapper>