/* rows */
div.dropdown-multicol{
    width: 30em;
}
div.dropdown-row>a.dropdown-item{
    display:inline-block;
    width: 32%;
}

/* Columns */
div.dropdown-multicol2{
    width: 30em;
}
div.dropdown-multicol2>div.dropdown-col{
    display:inline-block;
    width: 32%;
}