#header {
    background-color: #ffbdd1;
	/*    padding: 5px;*/
	    /* float: right; */
	    /*width:100%;*/
	    overflow:hidden;
		height:auto;
	    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 60;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.active{
    /*background-color: #eebaba;*/
    transition-duration: 0.5s;
    transition-timing-function: ease;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}

.deactive{

    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
#hd-logo{
	float: left;
	padding: 10px;
}
#logo-icon{
    height: 25px;
    width: 25px;
}
#hd-name {
	color: #ff6699;
	font-weight: bolder;
	font-size: 2rem;
	margin: 0;
    text-decoration:none;
}
#hd-btn-box{
	float: right;
	padding: 10px; 
}
/*btn*/
#hd-btn{
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    font-family: 'Jua', sans-serif;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
#hd-btn:hover {
	/*opacity: 0.5;*/
    color: #EB7967;
	}


/*dropdown*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*font-weight: bold;*/
  background-color: #ffccff;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #ffccff;
  border-radius: 10px;
  /*font-weight: bold;*/
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f79ecf}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/*dropdown*/
/*btn*/