.ps_box{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
}
.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
    *position: absolute;
    *top: 0;
    *left: 0;
    apperance: none;
    -webkit-apperance: none;
}
#wrap {
    width: 100%;
}

#header {
    position: relative;
    overflow: hidden;
    padding: 60px 0 54px;
    box-sizing: border-box;
}
.h_logo{
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 44px;
    /*background-image: url();*/
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    color: transparent;
    font-size: 0;
}

#container{
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}
@media (max-width: 768px){
    #container, #footer, #header {
        min-width: 220px;
        margin: 0 15px;
        box-sizing: border-box;
    }
}
@media (max-width: 1024px){
        #container {
            width: auto;
            max-width: 768px;
        }
        #container, #footer, #header {
            margin: 0 auto;
            max-width: 768px;
            min-width: 460px;
        }
}