/* new setting */
body{
  background-color: #f5f6f7;
}

#header{
  position: relative;
  overflow: hidden;
  padding: 30px 0 30px;
  box-sizing: border-box;
}
.input_style{
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  /*padding: 10px 110px 10px 14px;*/
}

.emailcontent{
  display: flex;
}

.site-logo{
  display: block;
  margin: 0 auto;
  width:240px;
  height:44px;
}
/* new setting */

  table.signup {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    /*border: 1px solid #ccc;*/
    width: 530px;
    margin: 0 auto;
  }
  table.signup thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #e7708d;
  }
  table.signup thead tr {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align : middle;
    color: #fff;
  }
  table.signup tbody tr {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align : middle;
    border-bottom: 1px solid #ccc;
    /*background: #c6aac5;*/
  }
  table.signup td {

    padding: 10px;
    vertical-align : middle;
    border-bottom: 1px solid #ccc;
  }
  .spen {
    vertical-align : middle;
    font-size: 70%;
  }
  .logo {
 	  padding-left: 10px;
  }
  .sand_back {
    margin-top: 10px;
  	padding-left: 10px;
    text-align: center;
  }
  .checkbox1 {
    vertical-align : middle;
  }

  .modal{
    display:none;
    position:fixed;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
  }

	.modal_content{
    text-align:center;
    position:fixed;
    top:50%; left:50%;
    border-radius:10px;
    transform: translate(-50%,-50%);
    max-width: auto;
    min-height: auto;
    background:#fff;
    padding: 10px;
	}
  .thead{
    font-size: auto;
    width: 25%;
  }
  .content{
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
  }
  #str_email01, #str_email02, #selectEmail{
    width: 50%;
  }
   #str_phone02, #str_phone03 {
    width: 30%;
  }


#modal2.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal2 .modal-window {
  background: rgba(142, 142, 142, 0.57);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /*width: 400px;*/
  /*height: 500px;*/
  width: 50%;
  height: 75%;
  position: relative;
  top: -20px;
  padding: 10px;
}
#modal2 .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: rgba(0, 0, 0, 0.5);

}
#modal2 .title h2 {
  display: inline;
}
#modal2 .close-btr {
  display: inline;
  /*float: right;*/
  /*text-align: center;*/
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: #000000;
}

#modal2 .content {
  margin-top: 20px;
  padding: 0px 10px;
  /*text-shadow: 1px 1px 2px gray;*/
  color: white;
}

.noresize {
  margin: 3% 0%;
  height: 15%;
  width: 100%;
  resize: none; /* 사용자 임의 변경 불가 */
}

.submit{
  color: #fff;
  border: solid 1px rgba(0,0,0,.08);
  background-color: #ef319b;
  width: 200px;
  padding: 15px 0 15px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.back{
  color: #fff;
  border: solid 1px rgba(0,0,0,.08);
  background-color: #929292;
  width: 200px;
  padding: 15px 0 15px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.selectmenu{
  /*display: block;*/
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;

}
.phone-selectmenu{
  position: relative;
  width: 28%;
  height: 51px;
  border: solid 1px #dadada;

}

.phone_nums{
  /*display: block;*/
  position: relative;
  width: 50%;
  height: 51px;
  border: solid 1px #dadada;

}