/* new setting */
#header{
  position: relative;
  overflow: hidden;
  padding: 60px 0 54px;
  box-sizing: border-box;
}
.input_style{
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  /*padding: 10px 110px 10px 14px;*/
}

.emailcontent{
  display: flex;
}

.site-logo{
  display: block;
  margin: 0 auto;
  width:240px;
  height:44px;
}
/* new setting */

  table.signup {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 550px;
  }
  table.signup thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #e7708d;
  }
  table.signup thead tr {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align : middle;
    color: #fff;
  }
  table.signup tbody tr {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align : middle;
    border-bottom: 1px solid #ccc;
    background: #fcf1f4;
  }
  table.signup td {

    padding: 10px;
    vertical-align : middle;
    border-bottom: 1px solid #ccc;
  }
  .spen {
    vertical-align : middle;
    font-size: 70%;
  }
  .logo {
 	  padding-left: 10px;
  }
  .sand_back {
    margin-top: 10px;
  	padding-left: 10px;
    text-align: center;
  }
  .checkbox1 {
    vertical-align : middle;
  }

  .modal{
    display:none;
    position:fixed;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
  }

	.modal_content{
    text-align:center;
    position:fixed;
    top:50%; left:50%;
    border-radius:10px;
    transform: translate(-50%,-50%);
    max-width: auto;
    min-height: auto;
    background:#fff;
    padding: 10px;
	}
  .thead{
    font-size: auto;
    width: 25%;
  }
  .content{
  	margin: 0 auto;
  	width:50%;
  }
  #str_email01, #str_email02, #selectEmail{
    width: 20%;
  }
   #str_phone02, #str_phone03 {
    width: 10%;
  }
